@use "reset";

$red: hsl(0, 100%, 68%);
$red-hover: hsla(0, 100%, 68%, 0.75);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(235, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.btn-preview {
  all: unset;
  background-color: $red;
  color: $light-grayish-blue;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $red-hover;
  }
}

.container-main {
  padding-left: 10rem;
  position: relative;
}

.description {
  font-size: 1.45rem;
  padding-right: 55%;
  margin-bottom: 3.5rem;
  color: $dark-grayish-blue;
}

.divisor {
  width: 7px;
  height: 7px;
  background-color: $grayish-blue;
  border-radius: 5px;
}

.heading {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  padding-right: 5rem;
  color: $very-dark-blue;
}

.illustration {
  background: url("../images/illustration-devices.svg") no-repeat;
  background-size: cover;
  background-position: -2.7rem;
  height: 28.8rem;
}

.navbar {
  padding-right: 8rem;

  li:last-child a {
    color: $grayish-blue !important;
  }

  .nav-item a:hover {
    text-decoration: underline;
  }

  .nav-link {
    color: $very-dark-blue !important;
    font-weight: 700;
  }

  .navbar-nav {
    gap: 2.2rem;
  }
}

.pattern {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: $light-grayish-blue;
  width: 48%;
  height: 53%;
  z-index: -1;
  border-bottom-left-radius: 3.5rem;
}

.pre-heading {
  color: $grayish-blue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.1rem;

  span {
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .row {
    gap: 5rem;
    margin-top: 4rem !important;
  }
}

@media (max-width: 600px) {
  body {
    height: auto;
  }

  li:nth-last-child(2) {
    width: 100%;
  }

  main {
    margin-top: 9rem;
  }

  .attribution {
    text-align: left;
  }

  .btn-preview {
    font-size: 0.85rem;
    padding: 0.75rem 1.5rem;
  }

  .container-main {
    padding-left: 2rem;
  }

  .description {
    padding-right: 3rem;
    margin-bottom: 1.75rem;
  }

  .divisor {
    width: 100%;
    height: 1px;
    background-color: #a0a1ac;
  }

  .heading {
    padding-right: 1rem;
    font-size: 2.5rem;
  }

  .illustration {
    height: 15.3rem;
    background-position-x: -1.4rem;
    margin-bottom: 6rem;
  }

  .navbar {
    padding: 2rem 1.5rem 0 2rem;
    position: absolute;
    top: 0;
    left: 0;

    .navbar-nav {
      gap: 0.75rem;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      border-radius: 0.35rem;
      background-color: hsl(0, 0%, 100%);
      box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    }

    .navbar-toggler {
      border-color: transparent;
      padding: 0;

      &:focus {
        box-shadow: none;
      }
    }

    .navbar-toggler-icon {
      background: url("../images/icon-hamburger.svg");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    .navbar-toggler-icon-close {
      background: url("../images/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .pattern {
    height: 52%;
  }

  .preview {
    font-size: 0.85rem;
  }

  .row {
    gap: 0;
    margin-top: 0 !important;
  }
}
